*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.blocks {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 25px;
    border-radius: 15px;
    color: white;
    background: rgb(25, 32, 28);
}

